@mixin btn-color($background, $color){

    background-color: $background;
    border-color: $background;
    color: $color;
}

%placeholder-abahkau {
    display: inline-block;
    outline: 0;
    cursor: pointer;
    border: 2px solid #000;
    border-radius: 6px;
    color: #ffffff;
    background: #000;
    font-size: 16px;
    font-weight: 600;
    padding: 12px 20px;
    text-align: center;
    transition: all 0.15s ease;
    transition-duration: 0.15s;
    transition-property: all;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}